<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">

    <title>InsightEDU - Educational Data</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Educational Data Overview</h1>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="dataTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="enrollment-tab" data-toggle="tab" href="#enrollment" role="tab" aria-controls="enrollment" aria-selected="true">Enrollment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="school-tab" data-toggle="tab" href="#school" role="tab" aria-controls="school" aria-selected="false">School</a>
            </li>
            <!-- Add other tabs here -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="dataTabsContent">
            <!-- Enrollment Data Pane -->
            <div class="tab-pane fade show active" id="enrollment" role="tabpanel" aria-labelledby="enrollment-tab">
                <!-- Table for Enrollment Data -->
                <!-- Your table structure goes here -->
            </div>

            <!-- School Data Pane -->
            <div class="tab-pane fade" id="school" role="tabpanel" aria-labelledby="school-tab">
                <!-- Table for School Data -->
                <!-- Your table structure goes here -->
            </div>

            <!-- Add other data panes here -->
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>